:root {
	--1: #f7f7f7;
	--2: #eeeeee;
	--3: #393e46;
	--4: #929aab;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr 12fr 1fr;
	background-color: var(--2);
}

/* ---------------header--------------- */

/* ------------------------------------ */

/* ---------------nav--------------- */

#addProjectButton {
	font-size: 0.7rem;
	width: fit-content;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border: 1px solid transparent;
}

#addProjectButton:hover {
	cursor: pointer;
	border: 1px solid var(--3);
}

#projectInput {
	display: flex;
	flex-direction: column;
}

.projectInput {
	display: none;
}

.visible {
	display: block;
}

/* ---------------main--------------- */

main {
	display: grid;
	grid-template-columns: minmax(350px, 20vw) 3fr;
	padding: 10px;
}

button {
	background-color: var(--4);
}

/* ---- */
