:root {
	--1: #f7f7f7;
	--2: #eeeeee;
	--3: #393e46;
	--4: #929aab;
	--5: #38598b;
	--6: #a2a8d3;
}

@import url("https://fonts.googleapis.com/css2?family=Anuphan&family=Schibsted+Grotesk&display=swap");

* {
	box-sizing: border-box;
	font-family: "Schibsted Grotesk", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr 12fr 1fr;
	background-color: var(--3);
}

/* ---------------header--------------- */

/* ------------------------------------ */

/* ---------------nav--------------- */

nav {
	display: flex;
	flex-direction: column;
	padding: 10px;
	padding-right: 0px;
	gap: 5px;
	border-right: 1px solid var(--3);
}

a {
	list-style: none;
	text-decoration: none;
	padding: 2px;
}

a:visited {
	color: black;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

#addProjectButton {
	scale: 0.6;
	font-size: 0.7rem;
	width: fit-content;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border: 1px solid transparent;
}

#addProjectButton:hover,
#editProject:hover,
#addTask:hover,
button.projectInput:hover {
	cursor: pointer;
	border: 1px solid var(--3);
}

.visible {
	/* display: block !important; */
	visibility: visible !important;
	opacity: 1 !important;
}

.displayNone {
	display: none;
}

#projectInput,
#taskInput {
	display: flex;
	flex-direction: column;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in;
	padding: 20px;
	gap: 25px;
	background-color: #929aab;
	border-radius: 5px;
	box-shadow: 0px 0px 12px 2000px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	border: 1px solid black;
}

.radio-inputs {
	position: relative;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
	background-color: #eee;
	box-sizing: border-box;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
	width: 300px;
	font-size: 14px;
}

.radio-inputs .radio {
	flex: 1 1 auto;
	text-align: center;
}

.radio-inputs .radio input {
	display: none;
}

.radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: 0.5rem 0;
	color: rgba(51, 65, 85, 1);
	transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
	background-color: #fff;
	font-weight: 600;
}

input,
textarea {
	resize: none;
	padding: 5px;
	outline: none;
	border-radius: 4px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}

input:focus {
	outline: 1px solid rgba(0, 0, 0, 0.3);
}

.together {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.togetherButtons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 15px;
}

button.projectInput,
button.taskInput {
	width: 30%;
	border-radius: 5px;
	padding: 3px;
	border: 1px solid transparent;
}

#submitProject,
#submitTask {
	background-color: rgba(0, 128, 0, 0.571);
}

#cancelSubmitProject,
#cancelSubmitTask {
	background-color: rgba(158, 17, 17, 0.626);
}

label {
	font-size: 0.7rem;
	padding: 2px;
}

.join {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	padding-bottom: 0;
	/* border-bottom: 1px solid var(--3); */
	height: 50px;
}

/* ---------------main--------------- */

main {
	display: grid;
	grid-template-columns: minmax(350px, 20vw) 3fr;
	background-color: var(--2);
}

section {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.intro {
	display: flex;
	flex-direction: column;
}

.editTogether {
	display: flex;
	justify-content: space-between;
}

#projectDesc {
	margin-top: 20px;
	padding: 5px;
}

#editProject {
	font-size: 0.7rem;
	border: 1px solid transparent;
	visibility: hidden;
	border-radius: 5px;
	padding: 3px;
	height: 25px;
}

#addTask {
	visibility: hidden;
}

#taskContainer {
	padding: 20px;
	border-radius: 5px;
}

.taskCard {
	font-size: 0.7rem;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.205);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin: 10px;
}

.delete {
	display: none;
	font-size: 0.6rem;
	font-weight: 600;
	border: 1px solid black;
	color: rgb(0, 0, 0);
	padding: 2px;
	border-radius: 3px;
	background-color: rgb(233, 100, 100);
}

.delete:hover {
	background-color: rgb(228, 191, 122);
	scale: 1.025;
	border: 1px solid black;
	transition: 0.2s;
	cursor: pointer;
}

.desc {
	display: none;
	max-width: 50ch;
	padding: 10px;
	font-size: 0.6rem;
}

.name {
	font-weight: bold;
}

.Low,
.Medium,
.Urgent {
	display: flex;
	justify-content: center;
	min-width: 43px;
	font-size: 0.6rem;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.Low {
	background-color: rgba(152, 238, 152, 0.694);
}

.Medium {
	background-color: rgba(243, 203, 131, 0.731);
}

.Urgent {
	background-color: rgb(232, 96, 96);
}

.showButton {
	width: 21.5px;
	background-color: transparent;
}

.showButton:hover {
	cursor: pointer;
	color: white;
	scale: 1.05;
}

.taskJoin {
	display: flex;
	flex-direction: column;
}

.taskComplete {
	display: flex;
	align-items: center;
	gap: 5px;
}

input[type="checkbox"] {
	box-shadow: none;
}

input[type="checkbox"]:focus {
	outline: none;
}

.taskNameAndButton {
	display: flex;
	align-items: center;
}

.flex {
	/* border-bottom: 1px solid var(--3); */
	display: flex;
	align-items: center;
	gap: 30px;
}

button {
	background-color: var(--6);
}

.plus-button {
	border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	position: relative;

	&:after,
	&:before {
		content: "";
		display: block;
		background-color: grey;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:before {
		height: 1em;
		width: 0.2em;
	}

	&:after {
		height: 0.2em;
		width: 1em;
	}
}

.plus-button--small {
	font-size: 12px;
}

.plus-button--large {
	font-size: 22px;
}

/* ---- */

@media only screen and (max-width: 755px) {
	main {
		display: block;
	}

	#projectInput,
	#taskInput {
		width: 90%;
	}
}
